@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=Baloo 2');
::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-button{
      display: none;
  }
  ::-webkit-scrollbar-thumb{
      color: white;
  }
  ::-webkit-scrollbar-track{
      color: black;
  }
.gra {
    background: black
      }
  header{
      text-align: center;
      font-size: 6vw;
      margin-top: 12%;
      font-family: bebas neue;
      color: white;
      width: 100%;
      height: 10%;
      color: white;
      letter-spacing: 1vw;
  }
  .tag{
      width: 100%;
      height: 5%;
      color: white;
      font-family: "Corbel";
      font-size: 1.5vw;
      text-align: center;
      letter-spacing: 0vw;
  }
  .form{
      width: 100%;
      height: 36%;
      text-align: center;
      margin-top: 3%;

  }
  .textbox{
    border: 5px solid white;
    background-color: black;
    color: white;
    width: 50%;
    height: 18%;
    outline: none;
    font-size: 24px;
    font-family: "Corbel";
    border: 1px solid white;
  }
  .submit{
    background-color: black;
    color: white;
    width: 50vh;
    border: 1px solid white;
    height: 16%;
    width: 8%;
    outline: none;
    font-size: 24px;
    font-family: "Corbel";

  }
  .st{
      font-family:'Baloo 2';
      font-size: 4vw;
  }
  .mongograph{
    margin-top: 15%;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 45%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      
  }
  .res_iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }

  @media only screen and (max-width:620px) {
/* For mobile phones: */

   .tag{
      width: 100%;
      height: 15%;
      color: white;
      font-family: "Corbel";
      font-size: 4.5vw;
      text-align: center;
      letter-spacing: 0vw;
  }
  header{
      text-align: center;
      font-size: 15vw;
      font-family: bebas neue;
      color: white;
      width: 100%;
      height: 8%;
      padding-top: 40%;
      color: white;
      letter-spacing: 1.5vw;
  }
  .textbox{
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 70%;
    height: 15%;
    outline: none;
    font-size: 15px;
  }
  .submit{
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 50%;
    height: 15%;
    outline: none;
    font-size: 15px;
  }
  .st{
      font-family:'Baloo 2';
      font-size:5vw;
  }
  .mongograph{
    display: none;
      
  }
  .res_iframe{
    display: none;

  }

  }